.container{
    background-color: #99b8fa;
    min-height: 100vh;
    height: 100vh;
}
.title { 
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}